<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">

        <title>CrazyBlog</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-primary">
            <div class="container">
                <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-toggleable">
                    &#9776;
                </button>
                <a class="navbar-brand" href="/">
                    <span class="fa fa-th"></span>
                    Blog
                </a>
                <div class="collapse navbar-toggleable-xs" id="navbar-toggleable">
                    <ul class="nav navbar-nav pull-right">
                        {% if current_user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ reverse_url('add_bookmark') }}">
                                <span class="fa fa-plus"></span>
                                New bookmark
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                                <span class="fa fa-user"></span>
                                {{ current_user.name() }}
                            </a>
                            <div class="dropdown-menu">
                                <div class="dropdown-header">
                                    Signed in as
                                    <br><em>{{ current_user.openid() }}</em>
                                </div>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ reverse_url('backup') }}">
                                    <span class="fa fa-upload"></span>
                                    Backup
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ reverse_url('browser_extensions') }}">
                                    <span class="fa fa-puzzle-piece"></span>
                                    Browser extensions
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ reverse_url('account') }}">
                                    <span class="fa fa-user"></span>
                                    Your profile
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ reverse_url('signout') }}">
                                    <span class="fa fa-sign-out"></span>
                                    Signout
                                </a>
                            </div>
                        </li>
                        {% end %}
                    </ul>
                </div>
            </div>
        </nav>

		<div class="container">
			{% block content %}{% end %}
		</div>
    </body>
</html>
